{{define "nav"}}
    {{if .New}}
        {{template "nav_topic"}}
    {{end}}
    <aside class="nav">
        <div class="box">
            <h3 class="cell gray">热门节点</h3>
            <div class="blocktxt">
                <ul class="cats">
                    {{range .HotLabels}}
                        <li class="cell"><a href="/label/{{.ID}}">{{.LabelName}}</a><div><span class="badge badge-secondary"></span></div></li>
                    {{end}}
                </ul>
            </div>
        </div>

        <div class="box">
            <h3 class="cell gray">热门主题</h3>
            <div>
                <ul class="hot-topics">
                    {{range .Hots}}
                        <li class="cell topic"><img class="avatar" src="{{.User.Avatar}}" alt=""> <a href="/topic/{{.ID}}">{{.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </aside>
{{end}}