a:active, a:link, a:visited {
    color: #778087;
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ecf0f1;
    border-top: solid 1px #e0e4e5;
}

.good, .top, .lock {
    font-size: 12px;
    vertical-align: middle
}

.node {
    background-color: #e5e5e5;
    color: #999;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 12px;
}

.gray {
    color: gray;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav .title {
    font-size: 18px;
}

.nav .hot-topics .topic .avatar {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    overflow: hidden;
}

.nav .hot-topics .topic {
    border-bottom: 1px solid #e2e2e2;
}

.box {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #e2e2e2;
}

.box .inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.box .cell {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.box .cell .desc {
    font-size: 12px;
    line-height: 200%;
    color: #ccc;
    margin-bottom: 0;
}

.login-main {
    padding: 30px;
    background-color: #fff;
}


.t-edit {
    padding: 20px 20px;
    background-color: #fff;
}

/**************************/
/**********POST************/
/**************************/
.post {
    display: flex;
    align-items: center;
}

.post .avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    overflow: hidden;
}

.post .avatar img {
    width: 100%;
    min-height: 100%;
}

.post .cont {
    padding-left: 1rem;
    flex: 1;
}

.post .cont h2 a {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0 1px 0 #fff;
    word-wrap: break-word;
    word-break: keep-all;
}

.post .cont .topic-info {
    font-size: 12px;
    color: #ccc;
    line-height: 200%;
}

.post .count {
    width: 5%;
}

/**************************/
/*********TOPIC************/
/**************************/
.topic {
}

.topic .topwrap {
    display: flex;
}

.topic .topwrap .avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    overflow: hidden;
}

.topic .topwrap .avatar img {
    width: 100%;
    max-height: 100%;
}

.topic .topwrap .topicinfo {
    padding-left: 1rem;
}

.topic .topwrap h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px
}

.replies {
    margin-top: 20px;
}

.replies .reply-wrap {
}

.replies .reply-wrap .reply {
    display: flex;
}

.replies .reply-wrap .reply .avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    overflow: hidden;
}

.replies .reply-wrap .reply .avatar img {
    width: 100%;
    max-height: 100%;
}

.replies .reply-wrap .cont {
    flex: 1;
    padding-left: 1rem;
}
.replies .reply-wrap .btns{
    float: right;
}

.reply-edit {
    margin-top: 20px;
}

/**************************/
/*********MEMBER************/
/**************************/

.member-info .info{
    display: flex;
}

.member-info .info .avatar {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
}

.member-info .info .avatar img {
    width: 100%;
    max-height: 100%;
}

.member-info .info .detail{
    padding-left: 1rem;
    flex: 1;
}

.member-info .info .detail .line {
    color: #999;
}

