.f12{font-size:12px;}
.f14{font-size:14px;}
body{    background-color: #F6F8F9;font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";}
.footer{height:55px; background:#fff; font-family:"微软雅黑"; margin:0 auto;}
.footer .foot{height:55px; line-height:55px; color:#000; text-align:center}
.footer .foot a{font-weight:bold; color:#000;}

a {color: #222222;}
.menu_link{font-size: 18px;position: relative;}
.menu_link i {vertical-align: bottom;}
.menu_link:before{content: " ";position: absolute;bottom: 0;left: 0;width: 50%;border-top: 1px solid #E4E8EB;}
.sub_menu_link{color: #222222;display: block;}
.sub_menu_link .nav-link{padding-left: 2rem;}
.menu_link_current{color: #1AAD19;}

.main_bd{padding-bottom: 30px;}
.main_hd{margin-bottom: 40px;}
.main_bd .content{padding: 30px;background: #fff;}
.main_hd h2 {font-size: 26px;font-weight: 400;line-height: 1;margin: 20px 0;}

.title_tab{}
.title_navs{*zoom: 1;text-align: center;line-height: 30px;border-bottom: 1px solid #e7e7eb;box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);}
.title_tab .title_navs{line-height: 40px;border-bottom-color: #e7e7eb;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
.title_tab .tab_nav.selected{background: 0;border-bottom: 3px solid #44b549;}
.title_tab .tab_nav {margin-bottom: -1px;}
.tab_nav a {display: block;*height: 1%;text-decoration: none;color: #222;outline: 0;padding: 0 20px;}
.title_tab .tab_nav a {padding: 0 18px;}
.title_tab .tab_nav.first a, .title_tab .tab_nav:first-child a {padding-left: 30px;}

.panel {padding: 24px 40px;background: #fff;}
.panel {margin-bottom: 30px;background-color: #FFFFFF;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);}
.panel_overview {padding-bottom: 0;}
.panel_hd {padding: 16px 0;}
.panel_hd h3{font-size: 20px;}
.panel_tile {margin: 0;font-size: 20px;font-weight: 400;line-height: 1;}
.panel_bd {padding: 16px 0;}
.panel_overview .panel_bd {padding-bottom: 0;padding-top: 0;}
.panel_data_overview{display: inline-block;vertical-align: top;text-align: center;font-size: 14px;}
.panel_data_overview_title{color: #353535;font-weight: 400;}
.panel_data_overview_desc{    padding-top: 24px;display: block;font-style: normal;line-height: 1.2;font-size: 32px;}

.search_bar{position: relative;}
.search_bar input {height: 28px;*line-height: 22px;margin: 4px 0;width: 100%;border: 1px solid #e7e7eb;}
.search_bar a.search_btn{height: 28px;line-height: 28px;margin: 4px 0;    position: absolute;right: 10px;width: 30px;text-align: center;top: 0;}

.tool_bar{margin-bottom: 30px;position: relative; padding-bottom: 15px;border-bottom: 1px solid #eee;}
.tool_bar label{font-weight: 500;}
