/***********************/
/********COMMON*********/
/***********************/
ul, li {list-style: none}
/***********************/
/********HEADER*********/
/***********************/

header {
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 20px;
    display: flex;
    background-color: #fff;
}

.logo {
    display: block;
    width: 94px;
    height: 30px;
}
.logo img {
    width: 100%;
    height: 100%;
}