<div class="col-sm-12 col-8 col-md-8 col-lg-8 col-xl-8 bd-content">
    <div class="box member-info">
        <div class="cell">个人信息</div>
        <div class="inner info">
            <div class="avatar">
                <img src="{{.UserInfo.Avatar}}" alt="">
            </div>
            <div class="detail">
                <h2>{{.UserInfo.Username}}</h2>
                <div class="line">第{{.UserInfo.ID}}个会员 加入于{{FromTimeString .UserInfo.CreatedAt}}</div>
                <div class="line">积分: {{.UserInfo.Score}}</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="cell">最新创建的主题</div>
        <ul class="inner" style="list-style: none;">
            {{range .Topics}}
                <li class="cell" style="border-bottom: none;">
                    <a href="/label/{{.Label.ID}}" class="node">{{.Label.LabelName}}</a><a href="/topic/{{.ID}}">{{.Title}}</a>
                    <p class="desc">发布于:{{FromTimeString .CreatedAt}}</p>
                </li>
            {{end}}
        </ul>
    </div>

    <div class="box">
        <div class="cell">最新创建的回复</div>
        <div class="inner">
            <ul class="inner" style="list-style: none;">
                {{range .Replies}}
                    <li class="cell" style="border-bottom: none;">
                        <a href="/topic/{{.Topic.ID}}">{{.Topic.Title}}</a>
                        <span class="desc">·{{FromTimeString .CreatedAt}}</span>
                        <p class="desc">{{.Content}}</p>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-12  col-4 col-md-4 col-lg-4 col-xl-4 bd-sidebar">
    {{if .IsCurrentUser}}
        <div class="box">
            <div class="cell">收藏的帖子</div>
            <div class="inner">
                <ul class="inner" style="list-style: none;">
                    {{range .CollectTopics}}
                        <li class="cell" style="border-bottom: none; padding: 0;">
                            <a href="/topic/{{.Topic.ID}}">{{.Topic.Title}}</a>
                            <p class="desc">收藏时间{{FromTimeString .CreatedAt}}</p>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>
    {{end}}
</div>