<div class="main_bd">
    <div class="main_hd">
        <h2>数据概览</h2>
    </div>
    <div class="panel-group">
        <div class="panel">
            <div class="panel_hd">
                <h3>活跃数据</h3>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">用户数量</h5>
                            <h6 class="card-subtitle mb-2 text-muted">总用户数量</h6>
                            <em class="panel_data_overview_desc">
                                <span>999</span>
                            </em>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">用户数量</h5>
                            <h6 class="card-subtitle mb-2 text-muted">总用户数量</h6>
                            <em class="panel_data_overview_desc">
                                <span>999</span>
                            </em>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">用户数量</h5>
                            <h6 class="card-subtitle mb-2 text-muted">总用户数量</h6>
                            <em class="panel_data_overview_desc">
                                <span>999</span>
                            </em>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">用户数量</h5>
                            <h6 class="card-subtitle mb-2 text-muted">总用户数量</h6>
                            <em class="panel_data_overview_desc">
                                <span>999</span>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>