<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: #fff;">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item"><a id="topic-id" data-id="{{.Topic.ID}}"
                                       href="/label/{{.Topic.LabelId}}">{{.Topic.Label.LabelName}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">主题正文</li>
    </ol>
</nav>

<article class="box topic">
    <section class="cell topwrap">
        <div class="avatar">
            <a href="/member/{{.Topic.User.Username}}" title="{{.Topic.User.Username}}">
                <img src="{{.Topic.User.Avatar}}" alt="">
            </a>
        </div>
        <div class="topicinfo">
            <h1>
                {{if .Topic.Top}}
                    <span class="badge badge-danger top">置顶</span>
                {{end}}
                {{if .Topic.Good}}
                    <span class="badge badge-warning good">精华</span>
                {{end}}
                {{if .Topic.Lock}}
                    <span class="badge badge-dark lock">锁定</span>
                {{end}}
                {{.Topic.Title}}
            </h1>
            <small class="gray">
                <a href="/member/{{.Topic.User.Username}}">{{.Topic.User.Username}}</a>
                •
                <time>{{FromStrTime .Topic.CreatedAt}}</time>
                •
                <span>浏览量:{{.Topic.ViewsCount}}</span>
                •
                {{if .Topic.Like}}
                    <a id="cancel_like" href="javascript:;" class="up" style="color: #eb7350"><i
                                class="far fa-thumbs-up"></i>{{.Topic.LikeCount}}</a>
                {{else}}
                    <a id="like" href="javascript:;" class="up"><i class="far fa-thumbs-up"></i>{{.Topic.LikeCount}}</a>
                {{end}}
                •
                {{if .Topic.Dislike}}
                    <a id="cancel_dislike" href="javascript:;" class="down" style="color: #eb7350"><i
                                class="far fa-thumbs-down"></i>{{.Topic.DislikeCount}}</a>
                {{else}}
                    <a id="dislike" href="javascript:;" class="down"><i
                                class="far fa-thumbs-down"></i>{{.Topic.DislikeCount}}</a>
                {{end}}
                •
                {{if .IsCollect}}
                    <a id="cancel_collection" href="javascript:;" class="collect"><i class="fa fa-flag"></i>取消收藏</a>
                {{else}}
                    <a id="collect" href="javascript:;" class="collect"><i class="fa fa-flag"></i>收藏</a>
                {{end}}
            </small>
        </div>
    </section>
    <article class="cell article">
        {{.Content}}
    </article>
</article>

<section class="box replies">
    <div class="cell">
        <span>回复({{.RepliesLen}})</span>
    </div>
    {{range .Replies}}
        {{template "reply" .}}
    {{end}}
</section>

<section class="box reply-edit">
    <div class="cell panel-title">
        <span>添加回复</span>
    </div>
    {{if .User.ID}}
        <div class="edit-wrap">
            <textarea id="editor"></textarea>
        </div>
        <div style="background: #fff;padding: 0 15px 15px;">
            <button id="reply-btn" type="button" class="btn btn-primary">回复</button>
        </div>
    {{else}}
        <div class="cell">请先<a href="/login">登录</a>或<a href="/signup">注册</a></div>
    {{end}}
</section>

<script>
    (function () {
        'use strict';

        const topic = {
            editors: {},
            methods: {
                show(el) {
                    el.style.display = 'block';
                },
                hidden(el) {
                    el.style.display = 'none';
                }
            },
            events: function () {
                // 回复
                const editor = new Editor({element: document.getElementById('editor')});
                const deviceInfo = window.deviceInfo;
                const replyBTN = document.getElementById('reply-btn');
                if (!replyBTN) return;
                replyBTN.addEventListener('click', function () {
                    const content = editor.codemirror.getValue();
                    const topicID = document.getElementById('topic-id').getAttribute('data-id');
                    if (!content || !content.length) return alert('请输入回帖内容!');

                    axios.post('/reply', UTIL.stringify({content, topic_id: topicID, device_info: deviceInfo}))
                        .then(result => {
                            if (!result.data.success) return alert(result.data.message);
                            alert('回复成功!');
                            location.reload();
                        })
                        .catch(() => alert('网络错误！'));
                });
                const self = this;
                const showReplyBtns = document.querySelectorAll('.reply-btn');
                const replyBtns = document.querySelectorAll('button.reply-submit');
                const collectBtn = document.querySelector('#collect');
                const cancelCollectionBtn = document.querySelector('#cancel_collection');
                const likeBtn = document.querySelector('#like');
                const cancelLikeBtn = document.querySelector('#cancel_like');
                const cancelDislikeBtn = document.querySelector('#cancel_dislike');
                const dislikeBtn = document.querySelector('#dislike');
                const topicID = document.querySelector('#topic-id').getAttribute('data-id');

                // 显示回复框
                showReplyBtns.forEach(reply => {
                    reply.addEventListener('click', function (event) {
                        const replyID = this.getAttribute('data-reply-id');
                        if (!replyID) return;

                        const replyItem = document.querySelector(`div[data-wrap-id="${replyID}"]`);
                        const replyWrap = replyItem.querySelector(`div[data-id="${replyID}"]`);
                        const replyWrapIsShow = replyWrap.style.display === 'block';
                        if (replyWrapIsShow) return self.methods.hidden(replyWrap);
                        self.methods.show(replyWrap);
                    })
                });
                // 回复
                replyBtns.forEach(reply => {
                    reply.addEventListener('click', function (event) {
                        const replyID = this.getAttribute('data-reply-id');
                        const content = document.getElementById(replyID).value;
                        const deviceInfo = window.deviceInfo;

                        if (!replyID) return alert('数据出错，请刷新重试!');
                        if (!topicID) return alert('数据出错，请刷新重试!');

                        axios.post('/reply', UTIL.stringify({
                            topic_id: topicID,
                            parent_id: replyID,
                            device_info: deviceInfo,
                            content
                        })).then(result => {
                            if (result.data.success) {
                                location.reload();
                            } else {
                                alert(result.data.message);
                            }
                        }).catch(() => alert('网络错误!'));
                    })
                });

                // 收藏
                collectBtn && collectBtn.addEventListener('click', function (event) {
                    axios.get(`/collect/topic/${topicID}`).then(result => {
                        alert(result.data.message);
                        if (result.data.success) location.reload();
                    }).catch(err => alert(err.message));
                });

                // 取消收藏
                cancelCollectionBtn && cancelCollectionBtn.addEventListener('click', function (event) {
                    axios.get(`/collect/topic/cancel/${topicID}`).then(result => {
                        alert(result.data.message);
                        if (result.data.success) location.reload();
                    }).catch(err => alert(err.message));
                });

                // 喜欢
                likeBtn && likeBtn.addEventListener('click', function (event) {
                    axios.get(`/topic/like/${topicID}`).then(result => {
                        alert(result.data.message);
                        if (result.data.success) location.reload();
                    }).catch(err => alert(err.message));
                });
                // 取消喜欢
                cancelLikeBtn && cancelLikeBtn.addEventListener('click', function (event) {
                    axios.get(`/topic/like/cancel/${topicID}`).then(result => {
                        alert(result.data.message);
                        if (result.data.success) location.reload();
                    }).catch(err => alert(err.message));
                });

                // 不喜欢
                dislikeBtn && dislikeBtn.addEventListener('click', function (event) {
                    axios.get(`/topic/dislike/${topicID}`).then(result => {
                        alert(result.data.message);
                        if (result.data.success) location.reload();
                    }).catch(err => alert(err.message));
                });
                // 取消不喜欢
                cancelDislikeBtn && cancelDislikeBtn.addEventListener('click', function (event) {
                    axios.get(`/topic/dislike/cancel/${topicID}`).then(result => {
                        alert(result.data.message);
                        if (result.data.success) location.reload();
                    }).catch(err => alert(err.message));
                });

            }
        };

        topic.events();
    })();
</script>
